<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :employee_index %>
    <%= form.number_field :employee_index, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :employee_name %>
    <%= form.text_field :employee_name, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :age %>
    <%= form.number_field :age ,class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :designation %>
    <%= form.text_field :designation, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, class:"form-control", value: current_user.id, type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
