<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>
</br>

  <%= link_to 'Show', @employee, class:"btn btn-secondary" %>
  <%= link_to 'Back', employees_path, class:"btn btn-secondary"%>
