<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Employee index</th>
      <th>Employee name</th>
      <th>Age</th>
      <th>Designation</th>
      <% if user_signed_in? %>
      <th>User ID</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
     <% if employee.user == current_user%>
      <tr>
        <td><%= employee.employee_index %></td>
        <td><%= employee.employee_name %></td>
        <td><%= employee.age %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.user_id %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class:"btn btn-secondary" %>
