<div class="jumbotron">
  <h1 class="display-4">Hello,<%= @employee.employee_name %></h1>
  <p class="lead">Welcome to the Employee Portal!</p>
  <hr class="my-4">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Employee index:</strong>
  <%= @employee.employee_index %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @employee.employee_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>
  <p class="lead">
    <%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-secondary" %> 
    <%= link_to 'Back', employees_path, class:"btn btn-secondary" %>
  </p>
</div>




