<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">WebApp</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to 'WebApp', root_path, class:"nav-link active"%>
          <!--<a class="nav-link active" aria-current="page" href="#">Home</a>-->
        </li>
        <li class="nav-item">
            <%= link_to 'About', home_about_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to 'Employees', employees_path, class:"nav-link"%>
        </li>


        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Add Employees', new_employee_path, class:"nav-link"%>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email  %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown-item" %>
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            <!--<a class="dropdown-item" href="#">Sign Out</a>-->
          </div>
        </li>

        <% else %>

        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link"%>
        </li>
        <% end %>

      </ul>
      <form class="form-inline float-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>