<div class="container">
  <h1 class="display-4">About, employee portal!</h1>
  <p class="lead">Here you can add, delete and update employees!</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Let's Try", employees_path, class:"btn btn-secondary" %>
  </p>
</div>