<div class="container">
  <h1 class="display-4">Greetings!</h1>
  <p class="lead">Welcome to the all new employee portal!</p>
  <hr class="my-4">
  <p>Completely setup using Ruby on Rails!</p>
  <p class="lead">
    <%= link_to 'Learn more', home_about_path,  class:"btn btn-secondary btn-lg"%>
  </p>
</div>
